@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

main{
  width: 100%;
}
.containerFilters{
  width: 100%;
  margin: auto;
  padding: 0.5rem;
}

i {
  font-size: 30px;
  margin-right: 20px;
}

i:last-child {
  margin-right: 0px;
}

#icon-fb {
  color: #3b5998;
}

#icon-wpp {
  color: #25D366;
}

#icon-ig {
  color: #C13584
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

section, footer {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 250px;
}

#icon-search {
  font-size: 1.5rem;
}

#mytitle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  background-color: rgb(243, 198, 83);
  justify-content: space-around;
  align-items: center;
}

.a-picos {
  color: black;
}
.picos {
  background-color: grey;
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
}

.picos:hover {
  background-color: rgb(102, 125, 255);
}

.card{
  /*background-color: #C13584;*/
  /*max-height: 500px;*/
  min-width: 18rem;
  min-height: 30rem;
  margin-top: 1rem;
}

.span {
  font-weight: bold;
}

.mycard-footer {
  display: flex;
  justify-content: space-around;
}

.btn-mas {
  background-color: #0B5ED7;
  color: white;
  padding: 15px;
  border-radius: 5%;
}

.btn-mas:hover {
  /*background-color: rgb(243, 198, 83);*/
  background-color: #0a58ca;
}

.btn-disable{
  cursor: not-allowed;
  pointer-events: none;
}

.form-check-label{
  padding: 3px;
  border-radius: 7%;
}

footer {
  background-color: hsl(218, 62.2%, 95%);
  margin-top: 2rem;
}

.social:hover{
  background-color: #f5f5f5;
}

.img-card {
  height: 180px;
  width: 300px;
  object-fit: cover;
}

.card-detail {
  min-width: 70rem;
}

#myContainerCategories {
  height: auto;
}

#label-icon-search {
  width: 70rem;
  margin: auto;
}

@media screen and (max-width:700px){
  /*#container-search {
    background-color: yellow;
    height: 3rem;
  }*/
  #container-category-search{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  #myContainerCategories{
    width: 100%;
    margin-bottom: 1rem;
  }
  #container-search{
    width: 100%;
    margin-bottom: 1rem;
  }
}
@media screen and (min-width:420px){
  .form-check-label:hover{
    background-color: #0a58ca;
  }
}
@media screen and (max-width:420px) {
  #check-boxes{
    width: 100%;
  }
  #check-boxes:hover {
    background-color: #0a58ca;
  }
  .form-check-label {
    width: 100%;
  }
  .category {
    margin-left: 0.1rem;
  }
}