@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

i {
  font-size: 30px;
  margin-right: 20px;
}

i:last-child {
  margin-right: 0px;
}

#icon-fb {
  color: #3b5998;
}

#icon-wpp {
  color: #25D366;
}

#icon-ig {
  color: #C13584
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

section, footer {
  width: 98%;
  margin-left: auto;
  margin-right: auto;
}

#logo {
  width: 250px;
}

#icon-search {
  font-size: 16px;
}

@media screen and (max-width:700px){
  #container-search {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    flex-wrap: wrap;
  }

  /*#form-search{
    
  }*/
}

#mytitle {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 70px;
  background-color: rgb(243, 198, 83);
  justify-content: space-around;
  align-items: center;
}

.a-picos {
  color: black;
}
.picos {
  background-color: grey;
  padding: 10px;
  border-radius: 100%;
  font-size: 20px;
  color: white;
  text-align: center;
}

.picos:hover {
  background-color: rgb(102, 125, 255);
}

.card{
  /*background-color: #C13584;*/
  max-height: 500px;
  min-height: 500px;
}

.span {
  font-weight: bold;
}

.mycard-footer {
  display: flex;
  justify-content: space-around;
}

.btn-mas {
  background-color: rgb(60, 60, 255);
  color: white;
  padding: 15px;
  border-radius: 5%;
}

.btn-disable{
  cursor: not-allowed;
  pointer-events: none;
}

footer {
  background-color: hsl(218, 62.2%, 95%);
  display: flex;
  align-items: center;
  justify-content: space-around;
  margin-top: 30px;
}

.social:hover{
  background-color: #f5f5f5;
}

.img-card {
  height: 180px;
  width: 300px;
  object-fit: cover;
}